.bg-gray {
  background-color: #647c8a;
}
.bg-darkBlue {
  background-color: #3f51b5;
}

.bg-Em {
  background-color: #00b862;
}

.bg-neonYell {
  background-color: #afdf0a;
}

.bg-salmon {
  background-color: #e96b56;
}

.bg-sky {
  background-color: #2196f3;
}
