.bg-yellow {
  background-color: #fac51d;
}
.bg-teal {
  background-color: #66bd6d;
}

.bg-orange {
  background-color: #faa026;
}

.bg-turquoise {
  background-color: #29bb9c;
}

.bg-salmon {
  background-color: #e96b56;
}

.bg-sky {
  background-color: #55acd2;
}
