<section
  class="h-screen w-screen flex flex-col justify-center items-center xl:w-max xl:h-max xl:mt-4 xl:-ml-16"
>
  <div class="text-white text-center">
    <h1 class="text-xl">Certifications Timeline</h1>
    <p class="text-gray-300 xl:text-xs">These are the completed courses and</p>
    <p class="text-gray-300 xl:text-xs">certifications I hold</p>
  </div>
  <ngx-charts-heat-map
    [view]="[300, 480]"
    [scheme]="'ocean'"
    [xAxis]="true"
    [showXAxisLabel]="true"
    xAxisLabel="Period of Months"
    [results]="heatMapData"
    style="fill: white"
  ></ngx-charts-heat-map>
  <p class="text-gray-300 xl:text-xs">
    Hover over colored boxes to see details
  </p>
</section>
