<section
  class="h-screen w-screen flex flex-col justify-center items-center xl:w-full xl:h-full xl:-ml-3"
>
  <div class="text-center text-white text-2xl mb-4 flex flex-col xl:text-xl">
    <p class="">My journey as a</p>
    <p class="custom-bg">self-taught</p>
    <p class="">web developer.</p>
  </div>
  <div class="gallery flex justify-center">
    <img src="/assets/myPhotos/juan-nature-b.jpg" alt="Juan Forest" />
    <img src="/assets/myPhotos/juan-nature.jpg" alt="Juan Sun" />
    <img src="/assets/myPhotos/juan-nature-c.jpg" alt="Juan Ocean" />
    <img src="/assets/myPhotos/juan-sun.jpg" alt="Juan Park" />
  </div>
  <h2 class="text-4xl mt-3 custom-bg xl:text-2xl">Juan Lagunas</h2>
</section>
