<section
  class="h-screen w-screen flex flex-col justify-center items-center xl:w-max xl:h-max xl:ml-12 xl:mt-16"
>
  <div class="text-white text-center">
    <h1 class="text-xl xl:text-base">Study Methods</h1>
    <p class="text-base text-gray-300 xl:text-xs">
      These are the study methods I've used
    </p>
  </div>
  <ngx-charts-bar-vertical
    [view]="[290, 250]"
    [scheme]="'vivid'"
    [results]="chartData"
    [xAxis]="true"
    [yAxis]="false"
    [showXAxisLabel]="true"
    [xAxisLabel]="'Study Methods'"
    [showYAxisLabel]="false"
    style="fill: white"
  ></ngx-charts-bar-vertical>
</section>
